<!-- top-level launch test file
provides resources as requested by the user in the artefact.yaml file
includes the launch test file defined by the user
 -->

<launch>
  <arg name="param_file" default='params.yaml' />
  <arg name="ros1_testpackage" />
  <arg name="ros1_testfile" />

  <!-- provide parameters from artefact.yaml onto rosparam server -->
  <rosparam file="$(eval find(ros1_testpackage) + '/test/' + param_file)" command="load" />

  <!-- provide a simulator environment -->
  <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" />

  <!-- provide a data recorder -->
  <node pkg="rosbag" type="record" name="rosbag_recorder" output="screen" args="-a" />

  <!-- include the launch test file defined by the user in artefact.yaml -->
  <include file="$(eval find(ros1_testpackage) + '/launch/' + ros1_testfile)" />

</launch>
